.about-content {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;

    img {
        display: block;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

}